<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST">
            <h2>Admin Login</h2>
            <input type="email" name="email" placeholder="Enter Admin Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>