<link rel="stylesheet" href="{{ url_for('static', filename='css/sponsors.css') }}">

<section class="our-partners">
    <h2>Our Partners</h2>
    <div class="our-partners-container">
        <div class="our-partners-list">
            <img src="{{ url_for('static', filename='images/sponsor1.jpg') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='images/sponsor2.jpg') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='images/sponsor3.jpeg') }}" alt="Partner 3">
            <img src="{{ url_for('static', filename='images/sponsor1.jpg') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='images/sponsor2.jpg') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='images/sponsor3.jpeg') }}" alt="Partner 3">
        </div>
    </div>
</section>
